"needed idea plugins : sneak, TabMover, easymotion
let mapleader = " "
set surround
set commentary
set sneak
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'michaeljsmith/vim-indent-object'

" source ideavimrc
nnoremap <Leader><Leader>* :source ~/.ideavimrc<CR>

set relativenumber
set number

set ideajoin

"Show the mode vim is in at the bottom of the screen
set showmode

" Ignore case when searching
set ignorecase
" Smart case
set smartcase
" Set incremental search
set incsearch
"Show matching bracket the cursor is on
set showmatch
" No annoying sound on errors
set visualbell
set t_vb=
set tm=5000


map <Leader>s <Plug>(easymotion-s)

"enter visual block
nnoremap <Leader>v <c-v>

nnoremap <c-c> "+y
nnoremap <c-v> "+p
vnoremap <c-c> "+y
vnoremap <c-v> "+p
inoremap <c-c> <Esc>"+ya
inoremap <c-v> <Esc>"+pa

"map record marco to à
nnoremap à q
"map mark jump to è
nnoremap è `
onoremap è `

map L $
map H ^
nnoremap ù %
nnoremap z w
onoremap z w
vnoremap z w
nnoremap Z W
onoremap Z W
vnoremap Z W
nnoremap w zz

"windows save
nmap <c-s> <action>(SaveAll)
imap <c-s> <action>(SaveAll)
vmap <c-s> <action>(SaveAll)

" map s to q
nmap q a<BS>

"center cursor after scroll
nmap <C-d> <C-d>kw
nmap <C-u> <C-u>jw

nmap <C-f> <C-f>kw
nmap <C-b> <C-b>jw
 
" replace the word under cursor in all file
nnoremap <Leader>r *:%s//

"add thing at the end of line
inoremap <c-;> <esc>A;
nnoremap <c-;> A;<esc>
inoremap <c-4> <esc>A{
nnoremap <c-4> A{<esc>
inoremap <c-5> <esc>A(
nnoremap <c-5> A(<esc>

" better indent
inoremap <a-h> <esc><<A
inoremap <a-l> <esc>>>A
nnoremap <a-h> <<
nnoremap <a-l> >>
vnoremap <a-l> >gv
vnoremap <a-h> <gv

"règle cette faute de merde
inoremap <C-d> <Space><Esc>bhxhi<Space><Esc>els

" reformat file
nnoremap <Leader>² <action>(ReformatCode)

" move lines up and down
nnoremap <A-j> :action MoveStatementDown<cr>
nnoremap <A-k> :action MoveStatementUp<cr>
inoremap <A-j> <esc>:action MoveStatementDown<cr>a
inoremap <A-k> <esc>:action MoveStatementUp<cr>a
vnoremap <A-j> :<bs><bs><bs><bs><bs>action MoveStatementDown<cr>
vnoremap <A-k> :<bs><bs><bs><bs><bs>action MoveStatementUp<cr>

" Clear notifications"
nmap _n <action>(ClearAllNotifications)

" Go to method up or down IntelliJ
nmap <Leader>p <action>(MethodUp)
nmap <Leader>n <action>(MethodDown)

" Go to begining of current method
nmap <Leader>u [m

" RenameElement IntelliJ
nmap _r <action>(RenameElement)
" RenameFile IntelliJ
nmap _R <action>(RenameFile)

" Last changes
nmap g, <action>(JumpToLastChange)
nmap g; <action>(JumpToNextChange)

"toggle fullscreen mode
nmap _s <action>(ToggleFullScreen)
"Hide all windows Intellij
nmap <Leader>ff <action>(HideAllWindows)
"Show Panels / Windows Intellij
nmap <Leader>fs <action>(ActivateSonarLintToolWindow)
nmap <Leader>fg <action>(ActivateVersionControlToolWindow)
nmap <Leader>fc <action>(ActivateCommitToolWindow)
nmap <Leader>fp <action>(ActivateProjectToolWindow)
nmap <Leader>fr <action>(ActivateRunToolWindow)
nmap <Leader>ft <action>(ActivateTerminalToolWindow)
nmap <Leader>fd <action>(ActivateDebugToolWindow)
nmap <Leader>fi <action>(ActivateProblemsViewToolWindow)

" Recents
nmap <C-S-T> <action>(ReopenClosedTab)
nmap <C-A-V> <action>(RecentChangedFiles)
nmap <C-A-C> <action>(RecentChanges)
nmap <C-A-F> <action>(RecentFiles)
nmap <C-A-L> <action>(RecentLocations)
nmap <C-A-P> <action>(RecentProjectListGroup)
imap <C-S-T> <action>(ReopenClosedTab)
imap <C-A-V> <action>(RecentChangedFiles)
imap <C-A-C> <action>(RecentChanges)
imap <C-A-F> <action>(RecentFiles)
imap <C-A-L> <action>(RecentLocations)
imap <C-A-P> <action>(RecentProjectListGroup)
vmap <C-S-T> <action>(ReopenClosedTab)
vmap <C-A-V> <action>(RecentChangedFiles)
vmap <C-A-C> <action>(RecentChanges)
vmap <C-A-F> <action>(RecentFiles)
vmap <C-A-L> <action>(RecentLocations)
vmap <C-A-P> <action>(RecentProjectListGroup)

" Expandable
nmap <C-k> <action>(CollapseRegion)
nmap <C-j> <action>(ExpandRegion)
nmap <C-A-k> <action>(CollapseAllRegions)
nmap <C-A-j> <action>(ExpandAllRegions)

" focus current file in project window
nmap <Leader>! <action>(SelectInProjectView)

"move tabs Intellij
nmap <Leader>l <action>(com.mnw.tabmover.actions.MoveTabDownAction)
nmap <Leader>h <action>(com.mnw.tabmover.actions.MoveTabUpAction)
" go to next or previous tab
nmap <Leader><S-k> :bn<CR>
nmap <Leader><S-j> :bp<CR>
"go to tab number
nmap <Leader>& 1gt
nmap <Leader>é 2gt
nmap <Leader>" 3gt
nmap <Leader>' 4gt
nmap <Leader>( 5gt
nmap <Leader>- 6gt
nmap <Leader>è 7gt
nmap <Leader>_ 8gt
nmap <Leader>ç 9gt

" go to Left or Right Tab Intellij
nmap <Leader>k <action>(NextTab)
nmap <Leader>j <action>(PreviousTab)
"close current tab Intellij
nmap <Leader>x <action>(CloseContent)
"move tab to right Intellij
nmap <Leader><S-l> <action>(MoveTabRight)

"Toggle soft wrap Intellij
nmap <Leader>< <action>(EditorToggleUseSoftWraps)

"Other TabMovers
nmap <Leader>H <action>(com.mnw.tabmover.actions.MoveTabToFirstAction)
nmap <Leader>L <action>(com.mnw.tabmover.actions.MoveTabToLastAction)
nmap <Leader>tab <action>(com.mnw.tabmover.actions.ShowTabMoveActions)